<ion-header [translucent]="true">
  <ion-toolbar color="vermelhoetec">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large" slot="end">SIGA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="branco">

  <ion-grid>

    <ion-row size="10" class="ion-justify-content-center">

      <ion-col size="6">
        <ion-item color="branco" class="selecao" button>
          <ion-grid class="centro">
            <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                <div class="container">
                  <ion-icon name="time-outline" color="vermelhoetec"></ion-icon>
                </div>

                <ion-item color="branco" class="box">
                  <ion-label>Horarios</ion-label>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item color="branco" class="selecao" button>
          <ion-grid class="centro">
            <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                <div class="container">
                  <ion-icon name="newspaper-outline" color="vermelhoetec"></ion-icon>
                </div>

                <ion-item color="branco" class="box">
                  <ion-label>Secretária</ion-label>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> 
      </ion-col>
    </ion-row>


    <ion-row size="10" class="ion-justify-content-center">
      <ion-col size="6">
        <ion-item color="branco" class="selecao" button>
          <ion-grid class="centro">
            <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                <div class="container">
                  <ion-icon name="book-outline" color="vermelhoetec"></ion-icon>
                </div>

                <ion-item color="branco" class="box">
                  <ion-label>Academica</ion-label>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-col>

      <ion-col size="6">
        <ion-item color="branco" class="selecao" button>
          <ion-grid class="centro">
            <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                <div class="container">
                  <ion-icon name="close-circle-outline" color="vermelhoetec"></ion-icon>
                </div>

                <ion-item color="branco" class="box">
                  <ion-label>Faltas</ion-label>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>

    <!--Primeira parte -->

  </ion-grid>
</ion-content>