<ion-header>
  <ion-toolbar color="vermelhoetec">
    <ion-title c>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="branco">

  <ion-img src="https://blogjack.blob.core.windows.net/medias/2020/06/hello-world.jpeg" alt="Hello Word"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label position="floating" color="branco">Email</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating" color="branco">Senha</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-card-content>
  
    <ion-button fill="clear" color="branco">Entrar</ion-button>
    <ion-button fill="clear" color="branco">Registrar</ion-button>
  </ion-card>
</ion-content>
